.foldable-content-wrapper {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
    background-color: var(--background);
    border: 2px solid transparent;
}

.content-folder {
    position: relative;
    z-index: 10;
    border-right: 2px solid var(--primary);
}

.content-folder::after {
    content: '';
    display: inline;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, var(--primary) 80%, transparent 100%);
    background-size: 200% 100%;
    background-position: 0 bottom;
    transition: transform 0.5s ease, background-position 0.5s ease;
    transform: scaleX(0);
    transform-origin: right;
}

.content-folder:hover::after {
    content: '';
    display: inline;
    transform: scaleX(1);
    background-position: 0 bottom;
}

