:root {
    --text: hsla(180, 9%, 98%, 0.87);
    --interactable: #12CBCB;
    --background: #141414;
    --primary: #8364ff;
    --secondary: #80c1ff;
    --secondary-background: rgba(78, 22, 146, 0.302);
}

/* --secondary: #713360; */
/* --accent: #5fe685; */

/* #443dff */

/* sec: #4d1692 */

/* --accent: #fe2549; */