:root {
    --text: hsla(180, 9%, 98%, 0.87);
    --interactable: #12CBCB;
    --background: #141414;
    --primary: #8364ff;
    --secondary: #80c1ff;
    --secondary-background: rgba(62, 71, 108, 0.301);
}