.resume-section-wrapper {
    position: relative;
}

.resume-section {
    background-color: var(--background);
    color: var(--primary);
    overflow: visible;
    font-size: var(--resume-section-fs);
    line-height: var(--resume-section-lh);
    padding: var(--resume-section-pad);
}