.resume-line-wrapper {
    position: relative;
}

.resume-line {
    position: relative;
    z-index: 1;
    background-color: white;
    color: black;
    overflow: visible;
    display: flex;
    justify-content: left;
    overflow-wrap: normal;
    font-size: 1.6rem;
    line-height: 1.5em;
    padding: 0 0 0.5em 0;
}

.resume-line-bullet {
    position: relative;
    flex-shrink: 0;
}

.resume-line-content {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0px;
    position: relative;
    background-color: white;
}

.resume-line-content-border {
    border: 1px solid lightgray;
    padding: 8px;
}

.resume-line-detail-video {
    text-align: center;
}

.resume-line-detail-readmore {
    background-color: white;
    border: 1px solid lightgray;
}

.resume-line-hovered {
    filter: drop-shadow(0 0 5px rgba(117, 0, 196, 0.521));
    z-index: 10;
}