.resume-header-name {
    background-color: var(--background);
    color: var(--name);
    text-align: center;
    font-size: 4rem;
}

.resume-header-contact-bar {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    background-color: var(--background);
    color: var(--primary);
    font-size: 1.7rem;
    line-height: 1.5em;
    padding: 0 0 0.25em 0;
}

.resume-header-contact-item {
    white-space: nowrap;
}

a.resume-header-contact-item:link {
    color: var(--interactable);
    text-decoration: none;
}

a.resume-header-contact-item:visited {
    color: var(--interactable);
    text-decoration: none;
}

a.resume-header-contact-item:hover {
    color: var(--interactable);
    text-decoration: underline;
}

a.resume-header-contact-item:active {
    color: var(--interactable);
    text-decoration: underline;
}