.resume-subsection-wrapper {
    position: relative;
}

.resume-subsection {
    position: relative;
    background-color: var(--background);
    color: var(--text);
    overflow: visible;
    display: flex;
    justify-content: space-between;
    gap: var(--resume-subsection-gap);
    font-size: var(--resume-subsection-fs);
    line-height: var(--resume-subsection-lh);
    padding: var(--resume-subsection-pad);
}

.resume-subsection-left-text {
    white-space: nowrap;
    color: var(--secondary);
}

.resume-subsection-center-text {
    white-space: nowrap;
}

.resume-subsection-right-text {
    white-space: nowrap;
    color: var(--primary);
}

@media (max-width: 480px) {
    .resume-subsection-left-text {
        white-space: normal;
    }

    .resume-subsection-right-text {
        white-space: normal;
        text-align: right;
    }
}