.resume-line-wrapper {
    position: relative;
}

.resume-line {
    position: relative;
    z-index: 1;
    overflow: visible;
    display: flex;
    justify-content: left;
    overflow-wrap: normal;
    font-size: var(--resume-line-fs);
    line-height: var(--resume-line-lh);
    padding: var(--resume-line-pad);
    background-color: var(--background);
    color: var(--text);
}

.resume-line-spacer {
    content: '';
    padding: 0.2em;
    background-color: var(--background); 
}

.resume-line-bullet {
    flex-shrink: 0;
    color: var(--secondary);
}

.resume-line-content {
    background-color: var(--secondary-background);
    color: var(--text);
    border: 10px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
}

.resume-line-detail-text {
    font-size: var(--resume-line-detail-fs);
    line-height: var(--resume-line-detail-lh);
    padding: var(--resume-line-detail-pad);
}

.resume-line-detail-video {
    text-align: center;
}

.resume-line-detail-readmore {
    /* border: 1px solid lightgray; */
    color: var(--interactable);
    font-size: var(--resume-line-detail-fs);
    line-height: var(--resume-line-detail-lh);
}