.resume-subsection-wrapper {
    position: relative;
}

.resume-subsection {
    position: relative;
    z-index: 1;
    background-color: white;
    color: black;
    overflow: visible;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.resume-subsection-left-text {
    padding: 5px 0px;
    white-space: nowrap;
}

.resume-subsection-center-text {
    padding: 5px 0px;
    white-space: nowrap;
}

.resume-subsection-right-text {
    padding: 5px 0px;
    white-space: nowrap;
}