.resume-section-wrapper {
    position: relative;
}

.resume-section {
    background-color: white;
    color: black;
    overflow: visible;
    font-size: 2.2rem;
    line-height: 1.5em;
    padding: 0.825em 0 0 0;
}