.resume-subsection-wrapper {
    position: relative;
}

.resume-subsection {
    position: relative;
    z-index: 1;
    background-color: white;
    color: black;
    overflow: visible;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 1.72rem;
    line-height: 1.5em;
}

.resume-subsection-left-text {
    white-space: nowrap;
}

.resume-subsection-center-text {
    white-space: nowrap;
}

.resume-subsection-right-text {
    white-space: nowrap;
}