.resume-header-name {
    background-color: white;
    text-align: center;
    color: rgb(33 94 153);
    font-weight: bold;
}

.resume-header-contact-bar {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: white;
}

.resume-header-contact-item {
    padding: 5px 10px;
    white-space: nowrap;
}