.resume-body {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 85rem;
    margin: auto;

    display: block;
    overflow: hidden;
    height: 0;
}

@media (max-width: 480px) {
    .resume-body {
        width: 100%;
    }
}